@import url('https://fonts.googleapis.com/css2?family=Pontano+Sans:wght@700&family=Stint+Ultra+Expanded&display=swap');
.ff-stint{
  font-family: 'Stint Ultra Expanded', cursive;
}

.ff-pontano{
  font-family: 'Pontano Sans', sans-serif;
}
.bg-custom-gradient-1::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(57deg, #272a37 56% 56%, #272a37a2 98% 98%);
}

.bg-custom-gradient-1{
  background-image: url("http://source.unsplash.com/-heLWtuAN3c") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}